[submodule "Submodules"]
	path = Submodules
	url = https://github.com/mavlink/mavlink.git
[submodule "Submodule/mavlink"]
	path = Submodule/mavlink
	url = https://github.com/mavlink/mavlink.git

[submodule "Submodule/P"]
	path = Submodule/P
	url = https://github.com/p-org/P.git
