[submodule "Submodules"]
	path = Submodules
	url = https://github.com/mavlink/mavlink.git

[submodule "Submodule/mavlink"]
	path = Submodule/mavlink
	url = https://github.com/mavlink/mavlink.git

[submodule "Submodule/P"]
	path = Submodule/P
	url = https://github.com/p-org/P.git

[submodule "Submodule/OMPL"]
	path = Submodule/OMPL
	url = https://github.com/ompl/ompl.git
[submodule "P"]
	path = P
	url = git@github.com:p-org/P.git
